<div class="container-fluid">
  <div class="row">
    <div class="col-3 col-lx-3">
      <app-arbetsplatser></app-arbetsplatser>
    </div>
    <div class="col-9 col-lx-9">
      <app-organisation></app-organisation>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-lx-6">
      <app-kontaktpersoner></app-kontaktpersoner>
    </div>
    <div class="col-6 col-lx-6">
      <app-arbetsplats></app-arbetsplats>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lx-12">
      <app-tjansteanteckningar-arbetsplats></app-tjansteanteckningar-arbetsplats>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lx-12">
    <app-orders></app-orders>
  </div>
</div>
