<button type="button" class="btn btn-outline-primary btn-sm" (click)="toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="arbetspats-tjansteanteckningar">
  {{buttonText}}
</button>
<div id="arbetsplats-tjansteanteckningar" class="card" style="margin-top: 5px" [ngbCollapse]="isCollapsed">
  <div class="card-body ">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="small">Rubrik</th>
          <th scope="col" class="small">Text</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let tjansteanteckning of arbetsplats.tjansteanteckningar">
          <tr>
            <td class="small">{{ tjansteanteckning.rubrik }}</td>
            <td class="small">{{ tjansteanteckning.text }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
