<div class="card" style="margin-top: 5px">
  <h6 class="card-header">Arbetsplats - kontaktpersoner</h6>
  <div class="card-body ">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="small">Typ</th>
          <th scope="col" class="small">Namn</th>
          <th scope="col" class="small">Epost</th>
          <th scope="col" class="small">Telefon</th>
          <th scope="col" class="small">Beskrivning</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let kontaktperson of arbetsplats.kontaktpersoner">
          <tr>
            <td class="small">{{ kontaktperson.typ }}</td>
            <td class="small">{{ kontaktperson.namn }}</td>
            <td class="small">{{ kontaktperson.epost }}</td>
            <td class="small">{{ kontaktperson.telnr }}</td>
            <td class="small">{{ kontaktperson.beskrivning }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
